form {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;

}

.formGroup {
  background-color: rgb(200, 197, 197) ;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  margin-top: 5px;
}

label {
  margin-left: 5px;
  color: gray ;
}

input {
  height: 50%;
  width: 70%;
  margin-right: 5px;
}

.littleText {
  color: indianred;
  font-size: small;
}
